---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import TrustedBy from "../components/TrustedBy.astro";
import Support from "../components/Support.astro";
---

<Layout>
  <main class="flex flex-col items-center justify-center px-32.5">
    <Hero />
    <TrustedBy />

    <Support />
  </main>
</Layout>
