---
import Play from "../components/icons/Play.astro";
---

<section
  id="home"
  data-section="home"
  class="min-h-[90dvh] flex items-center justify-between"
>
  <div>
    <h1
      class="font-bold text-left text-[#191A15] text-7xl leading-20 w-138.75 mb-7"
    >
      We’re here to Increase your Productivity
    </h1>
    <img
      src="/hero-title.webp"
      alt="Hero title"
      class="w-119.75 mb-12 select-none"
    />
    <p class="text-black font-medium leading-8 text-left w-115.25 mb-12.5">
      Let's make your work more organize and easily using the Taskio Dashboard
      with many of the latest featuresin managing work every day.
    </p>
    <div class="flex items-center gap-x-10">
      <button
        class="bg-[#54BD95] px-7.5 py-5 rounded-[40px] text-white font-medium text-lg"
        >Try free trial</button
      >
      <button
        class="px-7.5 py-5 rounded-[40px] text-[#191A15] font-medium text-lg flex items-center justify-center gap-x-3.5"
      >
        <Play />
        View Demo</button
      >
    </div>
  </div>
  <img
    src="/hero.webp"
    alt="Hero image"
    class="w-[701.68px] h-[558.99px] select-none"
  />
</section>
